*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
}
.container{
    border-bottom: 8px solid rgb(73, 70, 70);
}
.home{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 8%;
    background: linear-gradient(rgba(15, 15, 15, 0.799),rgba(9, 9, 9, 0.514)),url('netflix-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.nav{
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
}
.con{
    height: 60%;
    width: 70%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
    font-family: sans-serif;
}
.reg{
    height: 30%;
    width: 100%; 
    display: flex;
    justify-content: center;
}
.logo{
    height: 50px;
    width: 150px;
    background: url('netflix-logo.png');
    background-repeat: no-repeat;
    background-size: contain;
}
.menu{
    display: flex;
    justify-content: space-between;
    height: 30px;
    width: 18%;
}
.menu select{
    width: 50%;
    background: transparent;
    color: white;
    font-size: medium;
    border-radius: 3px;
}
.menu input{
    width: 35%;
    background: red;
    color: white;
    font-size: medium;
    border-radius: 5px;
}
.con h1{
    font-size: 2.5em;
    font-weight: 900;
}
.con span{
    font-size: 1.5em;
}
.reg input[type=email]{
    height: 48%;
    width: 40%;
    margin: 0.5%;
    font-weight: bold;
    font-size: medium;
    background: linear-gradient(rgba(23, 22, 22, 0.799),rgba(28, 27, 27, 0.514));
    border: 1px solid rgb(121, 120, 118);
    border-radius: 3px;
    padding-left: 2%;
    font-weight: lighter;
    color: white;
}
.reg input[type=button]{
    height: 48%;
    width: 15%;
    margin: 0.5%;
    background: rgb(226, 31, 31);
    color: white;
    font-weight: bold;
    font-size: larger;
    border-radius: 3px;
}
select,input:hover{
    cursor: pointer;
}
.view1{
    width: 100%;
    display: flex;
    flex-direction: row;
    background: black;
    padding: 10%;
}
.text1{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-family: sans-serif;
    padding: 5%;
}
.text1 h1{
    font-size: 2.5em;
    font-weight: 900;
}
.text1 span{
    font-size: 1.5em;
    margin-top: 2%;
}
.vid1{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.vid1 video{
    width: 100%;
    height: 50%;
}
.view2{
    width: 100%;
    display: flex;
    flex-direction: row;
    background: black;
    padding: 10%;
}
.text2{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-family: sans-serif;
    padding: 5%;
}
.text2 h1{
    font-size: 2.5em;
    font-weight: 900;
}
.text2 span{
    font-size: 1.5em;
    margin-top: 2%;
}
.vid2{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.vid2 video{
    width: 65%;
    height: 70%;
}
.view3{
    width: 100%;
    display: flex;
    flex-direction: row;
    background: black;
    padding: 10%;
}
.text3{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-family: sans-serif;
    padding: 5%;
}
.text3 h1{
    font-size: 2.5em;
    font-weight: 900;
}
.text3 span{
    font-size: 1.5em;
    margin-top: 2%;
}
.vid3{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.vid3 video{
    width: 100%;
    height: 50%;
}
.view4{
    width: 100%;
    display: flex;
    flex-direction: row;
    background: black;
    padding: 10%;
}
.text4{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-family: sans-serif;
    padding: 5%;
}
.text4 h1{
    font-size: 2.5em;
    font-weight: 900;
}
.text4 span{
    font-size: 1.5em;
    margin-top: 2%;
}
.vid4{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.vid4 img{
    width: 80%;
    height: 60%;
}
.faq{
    font-family: sans-serif;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: black;
    flex-direction: column;
}
.faq article h1{
    text-align: center;
    color: white;
    font-size: 2.5em;
    font-weight: 900;
    font-family: sans-serif;
    padding: 15px;
}
.faq article{
    width: 80%;
    padding: 20px;
}
.faq article details{
    font-family: sans-serif;
    padding: 5px;
    max-height: 100px;
    transition: all 0.5s linear;
    overflow: hidden;
}
.faq article details[open]{
    max-height: 500px;
    transition: all 0.5s linear;
}
.faq article details summary{
    font-family: sans-serif;
    list-style: none;
    cursor: pointer;
    color: white;
    font-size: 1.5em;
    background: rgb(44, 43, 43);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    padding-left: 3%;
    padding-right: 3%;
    border-bottom: 1px solid black;
}
.faq article details summary:hover{
    background: rgb(70, 69, 69);
    transition: 0.5s;
}
.faq article details[open] summary span{
    transform: rotate(45deg);
}
.faq article details p{
    font-family: sans-serif;
    color: white;
    font-size: 1.5em;
    background: rgb(55, 54, 54);
    display: flex;
    align-items: center;
    padding: 3%;
}
.faq span{
    font-family: sans-serif;
    color: white;
    font-size: 1.5em;
}
.regis{
font-family: sans-serif;
height: 30%;
width: 100%; 
display: flex;
justify-content: center;
padding: 10px;
margin-bottom: 5%;
}
.faq input[type=email]{
font-family: sans-serif;
width: 24%;
margin: 0.5%;
font-weight: bold;
font-size: medium;
background: linear-gradient(rgba(23, 22, 22, 0.799),rgba(28, 27, 27, 0.514));
border: 1px solid rgb(121, 120, 118);
border-radius: 3px;
padding-left: 2%;
font-weight: lighter;
color: white;
}
.faq input[type=button]{
font-family: sans-serif;
height: 55px;
width: 13%;
margin: 0.5%;
background: rgb(226, 31, 31);
color: white;
font-weight: bold;
font-size: larger;
border-radius: 3px;
}
.contactus{
    width: 100%;
    background: black;
    font-family: sans-serif;
    font-size: 1em;
    padding: 5%;
}
.contactus span{
    color: rgb(178, 162, 162);
    margin-left: 7.5%;
    margin-top: 1%;
}
ul{
    list-style: none;
}
a{
    color: rgb(178, 162, 162);
}
ul li{
    margin-top: 15px;
}
.contactus .hl{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.hl1,.hl2{
    width: 50%;
    display: flex;
    justify-content: space-around;
}
.foot{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.foot select{
    width: 9%;
    background: rgb(21, 20, 20);
    color: white;
    font-size: medium;
    border-radius: 3px;
    margin-bottom: 10px;
    height: 30px;
    margin-left: 7.5%;
}

@media(max-width: 768px){
.home{
    height: 70%;
}
.con h1{
    font-family: sans-serif;
    font-size: 1.5em;
    font-weight: 900;
}
.con span{
    font-size: 1.05em;
}
.reg{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.reg input[type=email]{
    width: 100%;
    height: 35%;
}
.reg input[type=button]{
    width: 50%;
    height: 35%;
}
.con{
    height: 80%;
}
.menu{
    width: 40%;
}
.logo{
    height: 30px;
    width: 100px; 
}
.menu input{
    width: 150%;
    height: 130%;
    font-size: smaller;
}
.menu select{
    height: 130%;
    width: 100%;
    margin-right: 10%;
}
.view1{
    display: flex;
    flex-direction: column;
}
.view1 .text1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.text1 h1{
    font-family: sans-serif;
    font-size: 1.5em;
    font-weight: 900;

}
.text1 span{
    font-size: 1.1em;
    padding: 4%;
    text-align: center;
}
.view1 .vid1{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.view1 .vid1 video{
    width: 90%;
    height: 80%;
}

.view2{
    display: flex;
    flex-direction: column-reverse;
}
.view2 .text2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.text2 h1{
    text-align: center;
    font-family: sans-serif;
    font-size: 1.5em;
    font-weight: 900;
    padding: 0 8%;
}
.text2 span{
    font-size: 1.1em;
    padding: 4%;
    text-align: center;
}
.view2 .vid2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.view2 .vid2 video{
    width: 90%;
    height: 80%;
}
.view3{
    display: flex;
    flex-direction: column;
}
.view3 .text3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.text3 h1{
    font-family: sans-serif;
    font-size: 1.5em;
    font-weight: 900;
}
.text3 span{
    font-size: 1.1em;
    padding: 4%;
    text-align: center;
}
.view3 .vid3{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.view3 .vid3 video{
    width: 90%;
    height: 80%;
}

.view4{
    display: flex;
    flex-direction: column-reverse;
}
.view4 .text4{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.text4 h1{
    text-align: center;
    font-family: sans-serif;
    font-size: 1.5em;
    font-weight: 900;
    padding: 0 8%;
}
.text4 span{
    font-size: 1.1em;
    padding: 4%;
    text-align: center;
}
.view4 .vid4{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.view4 .vid4 img{
    width: 90%;
    height: 80%;
}
.faq article{
    width: 100%;
}
.faq article h1{
    font-size: 1.5em;
}
.faq article details summary{
    font-size: 1.01em;
}
.faq article details p{
    font-size: 1.01em;
}
.faq span{
    font-size: 1.25em;
    text-align: center;
    padding: 4% 12%;
}
.faq .symbol{
    padding: 4% 5%;
}
.faq .regis{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.faq .regis input[type=email]{
    height: 45px;
    width: 80%;
}
.faq .regis input[type=button]{
    height: 45px;
    width: 40%;
    margin-top: 10px;
    margin-bottom: 12%;
}
.contactus .hl{
    display: flex;
    flex-direction: column;
}
.contactus span{
    margin-top: 3%;
}
.hl1,.hl2{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 0.9em;
    padding: 0 8%;
}
.hl2 ul:nth-child(2){
    margin-right: 14%;
}
.contactus .foot select{
    width: 35%;
}
}
